header {
  width: 100%;
  background: #0f172a;
  color: white;
  padding: 18px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: #cbd5f5;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}
